/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	font: 12px/1.6 Arial, Verdana, Tahoma, sans-serif;
	color: #595959;
	background:#f4f4f4;
}

a {
	color: #fe9b00;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
}

.active, a:hover {
	color: #090909;
}
 p {
 	margin: 8px 0;
 }

h2,h3 {
	font-weight: bold;
color: #090909;
text-transform: uppercase;
}

 h2 {
 	font-size: 18px;
padding-left: 28px;
background: url(../img/arrow.png) no-repeat 0 10px;
 }

 h3 {
font-size: 12px;
background: url(../img/arrow_small.png) no-repeat 0 6px;
padding-left: 22px;
margin-bottom: 20px;
 }

#top-line {
	background: #090909;
	height: 19px;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
}

#header {
padding: 20px 0 16px 0;
border-bottom: 1px solid #c0c0c0;
overflow: hidden;
}

#logo {
	width: 183px;
	height: 100px;
	float: left;
}

#menu {
	float: right;
	margin-top: 40px;
}


#menu ul li {
	float: left;
	margin-left: 63px;
}

#header-image {
height: 380px;
background: url(../img/header-image.jpg) no-repeat;
margin-top: 20px;
border-bottom: 1px solid #c0c0c0;
padding-bottom: 20px;
position: relative;
}

#black-box {
	width: 443px;
	height: 43px;
	background: #090909;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 15px;
	color: #999898;
	position: absolute;
	left: 35px;
	bottom: 68px;
}

#black-box p {
	margin: 14px 12px;
	line-height: 1;
}

#black-box a {
	 float: right;
}

#content {
	margin-top: 20px;
	border-bottom: 1px solid #c0c0c0;
	overflow: hidden;
	padding-bottom: 24px;
}

#black-box a:hover {
	color: #fe9b00;
}

.content_box {
width: 285px;
float: left;
margin-right: 52px;
}



.content_box h2 {
border-bottom: 5px solid #090909;
padding-bottom: 3px;
margin-bottom: 16px;
}

.content_box ul li {
background:url(../img/check.png) 0 3px no-repeat;
padding-left: 28px;
margin-bottom: 12px;
line-height: 1.3;
}

.italic-text {
	font-style: italic;
	color: #090909;
	margin-top: 20px;
}

#portfolio {
	margin-top: 20px;
	padding-bottom: 33px;
	border-bottom: 1px solid #c0c0c0;
	overflow: hidden;
}

.portfolio_image {
	width: 215px;
	height: 135px;
	float: left;
	margin-right: 33px;
	position: relative;
}

#portfolio_image, #content_box {
margin-right: 0;
}

.portfolio_image a {
	position: absolute;
	right: 0;
	bottom: 0;
	color: #090909;
	display: block;
	background: #fe9b00;
	padding: 4px 10px;
	line-height: 1;
}

#bottom-row {
	margin-top: 20px;
	overflow: hidden;
}

#blog {
width: 670px;
float: left;
}

#social {
	width: 220px;
	float: right;
}

#social ul li {
	float: left;
	margin-right: 12px;
}

#footer {
	background: #e2e2e2;
	padding: 32px 0 36px 0;
	margin-top: 33px;
}


#footer-content {
	width: 960px;
	margin: 0 auto;
	position: relative;
}


#footer-content a {
color: #5d5d5d;
font-weight: normal;
text-transform: capitalize;
}

#footer-content a:hover {
	text-decoration: underline;
}


#footer-content ul li {
	float: left;
	padding: 0 7px;
	border-left: 1px solid #5d5d5d;
	line-height: 1;
}

#footer-content ul li:first-child {
	padding-left: 0;
	border: none;
}

#footer-content p {
	margin: 3px 0 0 0;
}

.clear {
	clear: both;
}

#logo-footer {
width: 119px;
height: 64px;
background: url(../img/logo-footer.png) no-repeat;
position: absolute;
top: -12px;
right: 0;
}